[submodule "airo_message"]
	path = airo_message
	url = https://github.com/pattylo/airo_message.git
[submodule "realsense-ros-gazebo"]
	path = realsense-ros-gazebo
	url = https://github.com/rickstaa/realsense-ros-gazebo
[submodule "ros_utilities"]
	path = ros_utilities
	url = https://github.com/pattylo/ros_utilities.git
