<launch>

    <node name="bluerov2_mpc_node" pkg="bluerov2_mpc" type="bluerov2_mpc_node" output="screen">
        <param name="ref_traj" type = "string" value="$(find bluerov2_mpc)/traj/circle.txt" />
    </node>
    
    <!-- This node just reads the trajectory and waypoint topics and publishes
       visualization markers for RViz -->
    <group if="$(arg gui_on)">
      <group ns="$(arg uuv_name)">
        <node pkg="uuv_control_utils"
              type="trajectory_marker_publisher.py"
              name="trajectory_marker_publisher"
              output="screen">
          <remap from="trajectory" to="dp_controller/trajectory"/>
          <remap from="waypoints" to="dp_controller/waypoints"/>
        </node>
      </group>
    </group>
</launch>      