<?xml version="1.0"?>
<!-- Launches BlueROV2 Special Keyboard Driver -->
<launch>
	<node pkg="bluerov2_control" type="keyboard_joy.py" name="keyboard_node" launch-prefix="xterm -e">
		<remap from="joy" to="joy_orig"/>
		<param name="hz" value="10"/>
		<param name="gain" value="0.1"/>
	</node>
	<node pkg="joy" type="joy_remap.py" name="joy_remap_node" output="screen">
		<remap from="joy_in" to="joy_orig"/>
		<remap from="joy_out" to="joy"/>
		<rosparam command="load" file="$(find bluerov2_control)/config/teleop/key_joy_mappings.yaml"/>
	</node>
	<node pkg="bluerov2_control" type="sitl_teleop_manual_control.py" name="teleop_node">
		<rosparam command="load" file="$(find bluerov2_control)/config/teleop/key_joy_command_mappings.yaml"/>
	</node>
</launch>