<launch>
  <!-- This launch file will start the controller nodes with the necessary parameters

    Vehicle namespace: since the simulation can run with multiple vehicle, each vehicle
    is created under a namespace, which is per default equal to the name of vehicle model, but
    can be assigned differently at startup
  -->

    <arg name="uuv_name" default="bluerov2"/>
    <!-- Name of the vehicle model: the name of the robot model -->
    <arg name="model_name" default="$(arg uuv_name)"/>
    <!-- Flag to start recoding a rosbag  -->
    <arg name="record" default="false"/>
    <!-- Flag to RViz -->
    <arg name="gui_on" default="true"/>
    <!-- Flag to NED Referential -->
   <arg name="use_ned_frame" default="false"/>
    <!--
    The controller parameters are given below and will be given to the controller node in its
    private namespace. These are vectors and for roslaunch to see this as one argument, there
    can be no spaces between the commas and the floating point values. The default values
    are usually the ones that are going to be used.
    -->
    <arg name="Kp" default="11993.888,11993.888,11993.888,19460.069,19460.069,19460.069"/>
    <arg name="Kd" default="9077.459,9077.459,9077.459,18880.925,18880.925,18880.925"/>
    <arg name="Ki" default="321.417,321.417,321.417,2096.951,2096.951,2096.951"/>

    <arg name="teleop_on" default="true"/>
    <arg name="joy_id" default="0"/>
    <arg name="axis_yaw" default="0"/>
    <arg name="axis_x" default="4"/>
    <arg name="axis_y" default="3"/>
    <arg name="axis_z" default="1"/>

    <!-- Thruster manager configuration: thruster allocation matrix pre-calculated with start_thruster_manager.launch (the recomend) -->
    <arg name="thruster_manager_output_dir" default="$(find bluerov2_control)/config"/>
    <arg name="thruster_manager_config_file" default="$(find bluerov2_control)/config/thruster_manager.yaml"/>
    <!-- File containing the thruster allocation matrix -->
    <arg name="tam_file" default="$(find bluerov2_control)/config/TAM.yaml"/>

     <!-- Start the PID controller with its default parameters for the RexROV vehicle  -->
    <include file="$(find uuv_trajectory_control)/launch/rov_pid_controller.launch">
      <arg name="uuv_name" value="$(arg uuv_name)"/>
      <arg name="gui_on" value="$(arg gui_on)"/>
      <arg name="saturation" value="2000"/>
      <arg name="Kp" value="$(arg Kp)"/>
      <arg name="Kd" value="$(arg Kd)"/>
      <arg name="Ki" value="$(arg Ki)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
      <arg name="thruster_manager_output_dir" value="$(arg thruster_manager_output_dir)"/>
      <arg name="thruster_manager_config_file" value="$(arg thruster_manager_config_file)"/>
      <arg name="tam_file" value="$(arg tam_file)"/>
    </include>

    <!-- Initialize the recording fo the simulation according to the record flag  -->
    <include file="$(find bluerov2_control)/launch/record.launch">
      <arg name="record" value="$(arg record)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <!-- Joystick teleop node  -->
    <group if="$(arg teleop_on)">
      <!-- Start joystick teleop node  -->
      <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
          <arg name="uuv_name" value="$(arg uuv_name)"/>
          <arg name="joy_id" value="$(arg joy_id)"/>
          <arg name="output_topic" value="cmd_vel"/>
          <arg name="message_type" value="twist"/>
          <arg name="axis_yaw" value="$(arg axis_yaw)"/>
          <arg name="axis_x" value="$(arg axis_x)"/>
          <arg name="axis_y" value="$(arg axis_y)"/>
          <arg name="axis_z" value="$(arg axis_z)"/>
          <arg name="gain_yaw" default="0.2"/>
          <arg name="gain_x" default="0.5"/>
          <arg name="gain_y" default="0.5"/>
          <arg name="gain_z" default="0.5"/>
      </include>
    </group>

    <!-- RViz  -->
    <group if="$(arg gui_on)">
      <!-- Start RViz  -->
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find bluerov2_control)/rviz/bluerov2_control.rviz"/>
    </group>
</launch>
