<?xml version="1.0"?>
<launch>

    <arg name="uuv_name" default="bluerov2" doc="Name of the robot (leave as bluerov2)"/>
    <arg name="namespace" default="bluerov2" doc="Namespace of the robot (leave as bluerov2)"/>

    <arg name="use_joystick" default="true" doc="Enable Joystick Support"/>
    <arg name="joy_dev" default="/dev/input/js0" doc="Device Name of Joystick"/>

    <arg name="gazebo" default="false" doc="Enable Gazebo for Camera Visualization (no physics)"/>
    <arg name="gui" default="false" doc="Enable Gazebo GUI"/>
    <arg name="rviz" default="false" doc="Enable RViz visualization"/>

    <group if="$(arg gazebo)">
        <param name="/use_sim_time" value="true"/>
        <include file="$(find bluerov2_gazebo)/launch/herkules_ship_wreck.launch">
            <arg name="gui" value="$(arg gui)"/>
        </include>

        <include file="upload.launch">
            <arg name="namespace" value="$(arg namespace)"/>
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="yaw" value="0"/>
            <arg name="world_frame" value="world"/>
        </include>
    </group>

    <!-- Start the SITL (Pixhawk controller) with its default parameters for the BlueROV2 vehicle  -->
    <include file="$(find bluerov2_control)/launch/start_ardusub_sitl.launch">
        <arg name="joy_dev" value="$(arg joy_dev)"/>
        <arg name="pose2gazebo" value="$(arg gazebo)"/>
        <arg name="use_joystick" value="$(arg use_joystick)"/>
    </include>

    <!-- Open RViz for visualization of sensor data and visualization markers -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find bluerov2_gazebo)/rviz/bluerov2.rviz"/>

</launch>
