<launch>
    <!-- Flag to start recoding a rosbag  -->
    <arg name="record" default="false"/>
    <!-- Initial position and heading of the vehicle (wrt Gazebo's inertial frame)  -->
    <arg name="x" default="-2"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-20"/>
    <arg name="yaw" default="-1.570796"/>

    <arg name="use_ned_frame" default="false"/>

    <!-- Set Gauss-Markov parameters of the current velocity in m/s -->
    <!-- <arg name="component_vel" default="velocity"/>
    <arg name="mean_vel" default="0.2"/>
    <arg name="min_vel" default="0.0"/>
    <arg name="max_vel" default="0.4"/>
    <arg name="noise_vel" default="0.05"/>
    <arg name="mu_vel" default="0.0"/> -->

    <!-- Initialize the Gazebo world  -->
    <include file="$(find bluerov2_description)/launch/ocean_waves.launch"/>

    <!-- Add the BlueROV2 vehicle to the world  -->
    <include file="$(find bluerov2_description)/launch/upload.launch">
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <!-- Start the MPC controller with its default parameters for the bluerov2 vehicle -->
    <include file="$(find bluerov2_dobmpc)/launch/ampc.launch"/> 

    <!-- Generate Gauss-Markov models for producing random current velocities and angles 
    <include file="$(find bluerov2_control)/launch/set_gm_current.launch">
        <arg name="component" default="$(arg component_vel)"/>
        <arg name="mean" default="$(arg mean_vel)"/>
        <arg nam e="min" default="$(arg min_vel)"/>
        <arg name="max" default="$(arg max_vel)"/>
        <arg name="noise" default="$(arg noise_vel)"/>
        <arg name="mu" default="$(arg mu_vel)"/>
    </include>
    -->

    <include file="$(find uuv_control_utils)/launch/apply_body_wrench.launch">
        <arg name="uuv_name" value="bluerov2"/>
        <arg name="starting_time" default="1"/>
        <arg name="duration" default="10000"/>
        <arg name="force_x" default="10"/>
        <arg name="force_y" default="10"/>
        <arg name="force_z" default="10"/>
        <arg name="torque_z" default="0"/>
    </include>
    
    <!-- Initialize the recording fo the simulation according to the record flag  -->
    <include file="$(find uuv_gazebo)/launch/controller_demos/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <!-- Start RViz --> 
    <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find bluerov2_control)/rviz/bluerov2_control.rviz"/> -->
    
</launch>