<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Adding the thruster units with the macro created in snippets.xacro -->
  <!--
    Important:
    - The thruster IDs must be given as integers and must be unique to each thruster unit
    - The thruster pose in the <origin> block is relative to the body's center of mass. Be
    aware that Gazebo does not use the SNAME convention per default.
  -->

  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="0">
    <origin xyz="0.1355 -0.1 -0.0725" rpy="0 0 0.7853981634"/>
  </xacro:thruster_macro>
  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="1">
    <origin xyz="0.1355 0.1 -0.0725" rpy="0 0 -0.7853981634"/>
  </xacro:thruster_macro>
  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="2">
    <origin xyz="-0.1475 -0.1 -0.0725" rpy="0 0 2.3561944902"/>
  </xacro:thruster_macro>
  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="3">
    <origin xyz="-0.1475 0.1 -0.0725" rpy="0 0 -2.3561944902"/>
  </xacro:thruster_macro>

  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="4">
    <origin xyz="0.0025 -0.1105 -0.005" rpy="0 -1.5707963268 0"/>
  </xacro:thruster_macro>
  <!-- IMPROVE -->
  <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="5">
    <origin xyz="0.0025 0.1105 -0.005" rpy="0 -1.5707963268 0"/>
  </xacro:thruster_macro>


  <!-- ###### TO BE IMPLEMENTED ###### -->

  <!-- Mount a Beacon actuator -->
  <!-- <xacro:default_beacon namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_beacon> -->

</robot>
