<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bridge3">
  <link
    name="bridge3">
    <inertial>
      <origin
        xyz="-60 -0.0299790000000009 -4.701"
        rpy="0 0 0" />
      <mass
        value="1456.8" />
      <inertia
        ixx="7977300000"
        ixy="331.130000000001"
        ixz="-12662"
        iyy="23096000000"
        iyz="-18784.0000003976"
        izz="16602000000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://bluerov2_description/meshes/bridge3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://bluerov2_description/meshes/bridge3.STL" />
      </geometry>
    </collision>
  </link>
</robot>
