<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bridge">
  <link
    name="bridge">
    <inertial>
      <origin
        xyz="1.0755E-07 -0.03 -0.019757"
        rpy="0 0 0" />
      <mass
        value="8777200" />
      <inertia
        ixx="2837600000"
        ixy="327.16"
        ixz="-4156.3"
        iyy="13176000000"
        iyz="-11870.0000001293"
        izz="11064000000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://bluerov2_description/meshes/bridge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://bluerov2_description/meshes/bridge.STL" />
      </geometry>
    </collision>
  </link>
</robot>
